# Exploratory Testing Notebook for Asset Time Machine App

## Testing Data Connections

### Pulling from Yahoo Finance's API

In [1]:
import fix_yahoo_finance as yf

# pulling historical data for Apple
data = yf.download('AAPL','2016-01-01','2018-01-01')

data.head()

[*********************100%***********************]  1 of 1 downloaded

              Open    High     Low   Close  Adj Close    Volume
Date
2016-01-04  102.61  105.37  102.00  105.35      99.12  67649400
2016-01-05  105.75  105.85  102.41  102.71      96.63  55791000
2016-01-06  100.56  102.37   99.87  100.70      94.74  68457400
2016-01-07   98.68  100.13   96.43   96.45      90.74  81094400
2016-01-08   98.55   99.11   96.76   96.96      91.22  70798000