# Exploratory Testing Notebook for Asset Time Machine App

In [1]:
# base packages
import numpy as np
import pandas as pd

## Testing Data Connections

### Pulling from Yahoo Finance's API

In [2]:
import fix_yahoo_finance as yf

# pulling historical data for Apple using fixed yahoo finance API
initial_data_pull_df = yf.download(
    tickers='AAPL',
    start='2016-01-01',
    end='2018-01-01',
    progress=False
)

initial_data_pull_df.tail()

              Open    High     Low   Close  Adj Close    Volume
Date
2017-12-22  174.68  175.42  174.50  175.01     171.03  16114600
2017-12-26  170.80  171.47  169.68  170.57     166.69  33185500
2017-12-27  170.10  170.78  169.71  170.60     166.72  21498200
2017-12-28  171.00  171.85  170.48  171.08     167.19  16480200
2017-12-29  170.52  170.59  169.22  169.23     165.38  25884400

## Data Processing

### Trimming to Only Needed Data

In [3]:
# making date a column instead of an index
initial_data_pull_df.reset_index(level=0, inplace=True)

# keeping just date and adjusted closing value
cleaned_close_df = initial_data_pull_df.loc[:,('Date','Adj Close')]

In [4]:
cleaned_close_df.tail()

          Date  Adj Close
498 2017-12-22     171.03
499 2017-12-26     166.69
500 2017-12-27     166.72
501 2017-12-28     167.19
502 2017-12-29     165.38

### Finding % Down from ATH for Each Value

In [17]:
# need to find an efficient and pythonic way to, for each date, find the % down from all-time high

# instantiate empty df in which to store ATH details
ath_info_df = pd.DataFrame(columns=['recent_ath_date', 'recent_ath_val', 'date_of_interest'])

for date in cleaned_close_df.loc[:,'Date']:
    
    # create df of time period to evaluate (all closes prior to chosen date)
    period_to_eval_df = cleaned_close_df.loc[cleaned_close_df.loc[:,'Date'] < date, :]

    # check the period to evaluate for ATH and get the date and value
    recent_ath_row = period_to_eval_df.loc[period_to_eval_df.loc[:,'Adj Close'] == period_to_eval_df.loc[:,'Adj Close'].max(), :]
    # store date of present iteration
    recent_ath_row['date_of_interest'] = date
    # rename columns so as to not be confusing
    recent_ath_row.rename(index=str, columns={"Date": "recent_ath_date", "Adj Close": "recent_ath_val"}, inplace=True)
    # append the ATH info for present iteration to the df of all ATH infos
    ath_info_df = ath_info_df.append(recent_ath_row)

/Users/pauljeffries/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]

In [19]:
ath_info_df.tail()

    recent_ath_date  recent_ath_val date_of_interest
494      2017-12-18           172.4       2017-12-22
494      2017-12-18           172.4       2017-12-26
494      2017-12-18           172.4       2017-12-27
494      2017-12-18           172.4       2017-12-28
494      2017-12-18           172.4       2017-12-29

In [28]:
# merging the main df and the df with ATH info
merged_df = pd.merge(
    cleaned_close_df, 
    ath_info_df,  
    left_on=['Date'], 
    right_on=['date_of_interest']
)

In [24]:
merged_df.tail()

          Date  Adj Close recent_ath_date  recent_ath_val date_of_interest
498 2017-12-22     171.03      2017-12-18           172.4       2017-12-22
499 2017-12-26     166.69      2017-12-18           172.4       2017-12-26
500 2017-12-27     166.72      2017-12-18           172.4       2017-12-27
501 2017-12-28     167.19      2017-12-18           172.4       2017-12-28
502 2017-12-29     165.38      2017-12-18           172.4       2017-12-29

In [25]:
?pd.merge

Signature:
pd.merge(
    left,
    right,
    how='inner',
    on=None,
    left_on=None,
    right_on=None,
    left_index=False,
    right_index=False,
    sort=False,
    suffixes=('_x', '_y'),
    copy=True,
    indicator=False,
    validate=None,
)
Docstring:
Merge DataFrame or named Series objects with a database-style join.

The join is done on columns or indexes. If joining columns on
columns, the DataFrame indexes *will be ignored*. Otherwise if joining indexes
on indexes or indexes on a column or columns, the index will be passed on.

Parameters
----------
left : DataFrame
right : DataFrame or named Series
    Object to merge with.
how : {'left', 'right', 'outer', 'inner'}, default 'inner'
    Type of merge to be performed.

    * left: use only keys from left frame, similar to a SQL left outer join;
      preserve key order.
    * right: use only keys from right frame, similar to a SQL right outer join;
      preserve key order.
    * outer: use union of keys from both frames, similar to a SQL full outer
      join; sort keys lexicographically.
    * inner: use intersection of keys from both frames, similar to a SQL inner
      join; preserve the order of the left keys.
on : label or list
    Column or index level names to join on. These must be found in both
    DataFrames. If `on` is None and not merging on indexes then this defaults
    to the intersection of the columns in both DataFrames.
left_on : label or list, or array-like
    Column or index level names to join on in the left DataFrame. Can also
    be an array or list of arrays of the length of the left DataFrame.
    These arrays are treated as if they are columns.
right_on : label or list, or array-like
    Column or index level names to join on in the right DataFrame. Can also
    be an array or list of arrays of the length of the right DataFrame.
    These arrays are treated as if they are columns.
left_index : bool, default False
    Use the index from the left DataFrame as the join key(s). If it is a
    MultiIndex, the number of keys in the other DataFrame (either the index
    or a number of columns) must match the number of levels.
right_index : bool, default False
    Use the index from the right DataFrame as the join key. Same caveats as
    left_index.
sort : bool, default False
    Sort the join keys lexicographically in the result DataFrame. If False,
    the order of the join keys depends on the join type (how keyword).
suffixes : tuple of (str, str), default ('_x', '_y')
    Suffix to apply to overlapping column names in the left and right
    side, respectively. To raise an exception on overlapping columns use
    (False, False).
copy : bool, default True
    If False, avoid copy if possible.
indicator : bool or str, default False
    If True, adds a column to output DataFrame called "_merge" with
    information on the source of each row.
    If string, column with information on source of each row will be added to
    output DataFrame, and column will be named value of string.
    Information column is Categorical-type and takes on a value of "left_only"
    for observations whose merge key only appears in 'left' DataFrame,
    "right_only" for observations whose merge key only appears in 'right'
    DataFrame, and "both" if the observation's merge key is found in both.

validate : str, optional
    If specified, checks if merge is of specified type.

    * "one_to_one" or "1:1": check if merge keys are unique in both
      left and right datasets.
    * "one_to_many" or "1:m": check if merge keys are unique in left
      dataset.
    * "many_to_one" or "m:1": check if merge keys are unique in right
      dataset.
    * "many_to_many" or "m:m": allowed, but does not result in checks.

    .. versionadded:: 0.21.0

Returns
-------
DataFrame
    A DataFrame of the two merged objects.

See Also
--------
merge_ordered : Merge with optional filling/interpolation.
merge_asof : Merge on nearest keys.
DataFrame.join : Similar method using indices.

Notes
-----
Support for specifying index levels as the `on`, `left_on`, and
`right_on` parameters was added in version 0.23.0
Support for merging named Series objects was added in version 0.24.0

Examples
--------

>>> df1 = pd.DataFrame({'lkey': ['foo', 'bar', 'baz', 'foo'],
...                     'value': [1, 2, 3, 5]})
>>> df2 = pd.DataFrame({'rkey': ['foo', 'bar', 'baz', 'foo'],
...                     'value': [5, 6, 7, 8]})
>>> df1
    lkey value
0   foo      1
1   bar      2
2   baz      3
3   foo      5
>>> df2
    rkey value
0   foo      5
1   bar      6
2   baz      7
3   foo      8

Merge df1 and df2 on the lkey and rkey columns. The value columns have
the default suffixes, _x and _y, appended.

>>> df1.merge(df2, left_on='lkey', right_on='rkey')
  lkey  value_x rkey  value_y
0  foo        1  foo        5
1  foo        1  foo        8
2  foo        5  foo        5
3  foo        5  foo        8
4  bar        2  bar        6
5  baz        3  baz        7

Merge DataFrames df1 and df2 with specified left and right suffixes
appended to any overlapping columns.

>>> df1.merge(df2, left_on='lkey', right_on='rkey',
...           suffixes=('_left', '_right'))
  lkey  value_left rkey  value_right
0  foo           1  foo            5
1  foo           1  foo            8
2  foo           5  foo            5
3  foo           5  foo            8
4  bar           2  bar            6
5  baz           3  baz            7

Merge DataFrames df1 and df2, but raise an exception if the DataFrames have
any overlapping columns.

>>> df1.merge(df2, left_on='lkey', right_on='rkey', suffixes=(False, False))
Traceback (most recent call last):
...
ValueError: columns overlap but no suffix specified:
    Index(['value'], dtype='object')
File:      ~/anaconda3/lib/python3.7/site-packages/pandas/core/reshape/merge.py
Type:      function

In [ ]:
recent_ath_row.loc[:,'Adj Close'].values[0]

In [ ]:
# adding ATH info to main df
cleaned_close_df['recent_ath_date'] = recent_ath_date

In [ ]:
cleaned_close_df.head()